/* For visualizing's sake.*/
.sidebar,
.main-content,
.header,
.other-content,
.announcements,
.trending {
    padding: 8px;
    border: 1px solid;
}




.root-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 33px 217px 200px;
    gap: 30px;
}

.header > .first {
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    gap: 50px;
}

.header > .first > .search-section-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 5fr);
}

.header > .first > .another-section {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.header > .second {
    display: grid;
    grid-template-columns: 1fr 5fr;
}



.header > .second > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    font-weight: bold;
}

.content-grid > .title {
    padding-top: 20px;
    grid-column: 1 / 3;
}

.other-content {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.other-content > .title  {
    padding-top: 17px;
}

.big {
    font-size: large;
}

.bigger {
    font-size: 25px;
}

button {
    padding: 20px;
    border: 0px solid;
    color: aliceblue;
    background-color:blue;
    border-radius: 30%;
    font-size: 15px;
    font-weight:bolder;
}